# Java
*.class
*.log
*.tmp
*.swp
*.iml
target/
build/
out/
bin/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
